# **Simulador de Crédito Reduto Capital**

Proposta do novo simulador, seguindo o *Sistema Price* já adotado dentro da operação

In [1]:
import numpy_financial as npf
import pandas as pd
import matplotlib

In [13]:
# Dados iniciais
VP = 100_000
taxa_mensal = 0.025

# Conversão de taxa mensal para equivalentes
taxa_trimestral = (1 + taxa_mensal) ** 3 - 1
taxa_semestral = (1 + taxa_mensal) ** 6 - 1

# Função para gerar tabela de parcelas
def gerar_tabela(VP, taxa, max_parcelas):
    dados = []
    for n in range(1, max_parcelas + 1):
        pmt = npf.pmt(taxa, n, -VP)
        total_pago = pmt * n
        dados.append({
            "Parcelas": n,
            "Valor Parcela": round(pmt, 2),
            "Total Pago": round(total_pago, 2)
        })
    return pd.DataFrame(dados)

# Gerar tabelas
tabela_mensal = gerar_tabela(VP, taxa_mensal, 36)
tabela_trimestral = gerar_tabela(VP, taxa_trimestral, 12)
tabela_semestral = gerar_tabela(VP, taxa_semestral, 6)

# Mostrar resultados
tabela_semestral

   Parcelas  Valor Parcela  Total Pago
0         1      115969.34   115969.34
1         2       62272.21   124544.42
2         3       44503.41   133510.24
3         4       35715.64   142862.55
4         5       30519.10   152595.50
5         6       27116.95   162701.70